<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lixinxinlove.entity.mapper.NoteInfoMapper">

    <resultMap id="BaseResultMap" type="com.lixinxinlove.entity.NoteInfo">
        <id column="note_id" property="noteId" jdbcType="INTEGER"/>
        <id column="user_id" property="userId" jdbcType="VARCHAR"/>
        <id column="note_text" property="noteText" jdbcType="VARCHAR"/>
        <id column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <id column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>

    </resultMap>


    <select id="selectByNoteId"   resultMap="BaseResultMap"  resultType="java.lang.Integer">
         select note_id,user_id,note_text,create_time,update_time
         from note_info
         where note_id = #{noteId,jdbcType=INTEGER}
   </select>


</mapper>